body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin:0px;
  padding:0px;
}

.container {
  width: 100%;
  margin: auto;
}

header {
  background: #191970;
  color: #ffffff;
  padding-top: 20px;
}

.highlight {
  color: #e8491d;
  font-weight: bold;
}

.question {
  position: relative;
  left: 850px;
  bottom: 17px;
  padding-right: 20px;
}

.university {
  float: left;
}

.showcase {
  background-image: url("background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  background-color: lightblue;
}

.button_1 {
  height: 38px;
  width: 280px;
  background-color: #e8491d;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.button_2 {
  height: 30px;
  width: 230px;
  background-color: #191970;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

form {
  background: white;
  border: 3px solid grey;
  text-align: center;
}

form p {
  font-weight: bold;
}

li {
  display: inline;
  padding: 15px;
}

.bottom {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.images img {
  width:35px;
  padding: 0 40 0 40;
}

footer {
  background-color: #191970;
  color: white;
}
